<section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Try our app today!</h2>
                    <p>Our app is available on any mobile device! Download now to get started!</p>
                    <div class="badges">
                        <a class="badge-link" href="#"><img src=<%= asset_path('google-play-badge.svg') %> alt=""></a>

                        <a class="badge-link" href="#"><img src=<%= asset_path('app-store-badge.svg') %> alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Unlimited Future, Unlimited Health</h2>
                        <p class="text-muted">Check out what you can do with this app!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait black">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src=<%= asset_path('drug-on-time.png') %> class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-grid text-primary"></i>
                                    <h3>Simple Interface</h3>
                                    <p class="text-muted">User friendly interface for patients of all ages!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock text-primary"></i>
                                    <h3>Desktop</h3>
                                    <p class="text-muted">Secure interface for doctor and patient!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-credit-card text-primary"></i>
                                    <h3>Free to Use</h3>
                                    <p class="text-muted">We believe health care should be free and accessible for all. You will never pay for our services!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Get Rewards</h3>
                                    <p class="text-muted">Stay on track with your prescriptions and get credits towards your next pharmaceutical purchases!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
